<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%- for name, item in slideindex -%}
      {% if page.fileSlug == item.filename %}
        <title>{{ page.fileSlug }}
          --
          {{item.title}}</title>
      {% endif %}
    {%- endfor -%}

    <link rel="stylesheet" href="../../../css/twemoji-amazing.css"/>
    <link rel="stylesheet" href="../../../css/bootstrap-rayveal.css"/>
    <link rel="stylesheet" href="../../../css/fontawesome.css"/>
    <link rel="stylesheet" href="../../../css/twemoji-amazing.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <link rel="stylesheet" href="../../../css/syntax/nord.css"/>
    <link rel="stylesheet" href="../../../css/notes_override.css"/>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-subdued">
    <div class="post post-sidebar container-fluid">
      <div class="row justify-content-md-center">
        {% if collections.slides.length > 1 -%}
          <aside class="aside aside-main col col-md-3 col-lg-2 gx-0">
            <nav class="sticky-top fw-medium lh-sm pt-2 ">
              <h3 class="text-secondary">All Docs</h3>

              {%- for name, item in slideindex -%}
                {% if item.filename !== 'demo' %}
                  <div class="d-flex justify-content-end align-items-right border-bottom p-2 {% if page.fileSlug  == item.filename %} bg-primary {% endif %}">
                    <a class="text-decoration-none {% if page.fileSlug  == item.filename %} fw-bolder link-light {% else %} link-secondary {% endif %} link-primary" href="../../../notes/slides/{{ item.filename }}/index.html">
                      <i class="fas fa-file-alt mr-2 lh-1 {% if page.fileSlug  == item.filename %} text-light {% else %} text-primary {% endif %}"></i>{{ item.filename | safe }}
                      {{ item.title | safe }}</a>
                    <a class="{% if page.fileSlug  == item.filename %} link-light {% else %} link-secondary {% endif %} flex-fill ml-3 text-right" href="../../../?d={{ item.filename }}&#">
                      <i class="fab fa-slideshare"></i>
                    </a>
                  </div>
                {% endif %}
              {%- endfor -%}

            </nav>
          </aside>

        {% endif -%}
        <main class="main col col-md-6 col-lg-8">
          {{ content | safe }}
        </main>
        <aside class="aside aside-supplemental col col-md-3 col-lg-2 d-none d-md-block">
          <nav class="sticky-top">
            <h3 class="pt-2">This Slide</h3>
            {{ content | toc | safe }}
          </nav>
        </aside>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>