:root {
  --minimum-size: 200;
  --maximum-size: 200;
  --minimum-viewport-width: 300;
  --maximum-viewport-width: 3000;

  /* 
  font-size: calc([minimum size] 
  + ([maximum size] - [minimum size]) 
  * ((100vw - [minimum viewport width]) 
  / ([maximum viewport width] 
  - [minimum viewport width]))); 
*/
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body.reveal-viewport {
  font-family: 'Source Sans Pro', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.8em;
  font-weight: 300;
  color: var(--bs-black);
  /* letter-spacing: 0.03em; */
}

.reveal-viewport * {
  margin-bottom: 0;
}

::selection {
  background-color: var(--bs-warning);
  text-shadow: none;
}

.reveal-viewport .slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal-viewport .slides > section,
.reveal-viewport .slides > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: inherit;
}

.reveal-viewport .slides [contenteditable]:focus {
  outline: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal-viewport h1,
.reveal-viewport h2,
.reveal-viewport h3,
.reveal-viewport h4,
.reveal-viewport h5,
.reveal-viewport h6 {
  margin: 0;
  padding: 0;
  text-transform: inherit;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal-viewport section > h1 {
  font-weight: 900;
  font-size: 2em;
  color: var(--bs-black);
}

.reveal-viewport section > h1 b,
.reveal-viewport section > h1 strong,
.reveal-viewport section > h2 b,
.reveal-viewport section > h2 strong,
.reveal-viewport section > h3 b,
.reveal-viewport section > h3 strong,
.reveal-viewport section > h4 b,
.reveal-viewport section > h4 strong,
.reveal-viewport section > h5 b,
.reveal-viewport section > h5 strong,
.reveal-viewport section > h6 b,
.reveal-viewport section > h6 strong {
  font-weight: inherit;
}

.reveal-viewport section > h2 {
  font-weight: 400;
  font-size: 1.7em;
  color: var(--bs-dark);
}

.reveal-viewport section > h3 {
  font-size: 1.5em;
  color: var(--bs-warning);
}

h3::selection {
  color: var(--bs-light);
}
.reveal-viewport section > h4 {
  font-size: 1.25em;
  color: var(--bs-royal);
}

.reveal-viewport section > h5 {
  font-size: 1em;
  color: var(--bs-exciting);
}

.reveal-viewport section > h6 {
  font-size: 0.85em;
  color: var(--bs-primary);
}

/*********************************************
 * Typography
 *********************************************/

.reveal-viewport strong,
.reveal-viewport b {
  color: var(--bs-primary);
  font-weight: 600;
}

.reveal-viewport q,
.reveal-viewport blockquote {
  quotes: none;
}

.reveal-viewport sup {
  vertical-align: super;
}

.reveal-viewport sub {
  vertical-align: sub;
}

.reveal-viewport small {
  display: inline-block;
  font-size: 0.8em;
}

/*********************************************
 * Paragraphs
 *********************************************/

.reveal-viewport p {
  font-size: 0.8em;
  line-height: 120%;
  margin-bottom: 0;
  margin: auto 3em;
  margin-top: 1em;
}

.reveal-viewport h1 + p,
.reveal-viewport h2 + p {
  margin-top: 0.5em;
}

.reveal-viewport p > em {
  font-size: 0.7em;
  padding: 0 !important;
}

.reveal-viewport p small {
  line-height: 120%;
  color: var(--bs-gray);
}
/*********************************************
 * Headlines
 *********************************************/
.reveal-viewport h1,
.reveal-viewport h1 + h2,
.reveal-viewport h1 + h3 {
  margin-top: 0.2em;
  line-height: 120%;
  opacity: 0;
}

.reveal-viewport section > h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(40, end) forwards !important;
}

/*********************************************
 * Lists
 *********************************************/

.reveal-viewport ol,
.reveal-viewport dl,
.reveal-viewport ul {
  text-align: left;
  margin: 0;
}

.reveal-viewport ul {
  margin: 0;
  list-style-type: disc;
  font-size: 0.8em;
}

.reveal-viewport ul + p,
.reveal-viewport ol + p {
  margin-top: 0 !important;
}

.reveal-viewport ul li,
.reveal-viewport ol li {
  line-height: 120%;
  margin: 0.5em 3em;
}

.reveal-viewport ul li ul li,
.reveal-viewport ol li ul li {
  margin-bottom: 20px !important;
  margin-left: -30px !important;
  list-style-type: none;
  white-space: nowrap !important;
}

.reveal-viewport ul li:first-child,
.reveal-viewport ol li:first-child {
  margin-top: 1.25em;
}

/*********************************************
 * Tables
 *********************************************/
.reveal-viewport table {
  border-collapse: collapse;
  margin: 0;
  margin-top: 0.5em;
}

.reveal-viewport table th {
  vertical-align: middle;
  font-weight: 700;
  color: var(--bs-light);
  background: var(--bs-primary);
  line-height: 90%;
}

.reveal-viewport table thead tr th {
  border: none;
}

.reveal-viewport table th,
.reveal-viewport table td {
  padding: 0.4em;
  border-bottom: 1px solid var(--bs-gray-light);
  text-align: center;
}

/* background-color: var(--bs-gray-lighter); */

.reveal-viewport table th {
  border: 1px solid var(--bs-light);
}

.reveal-viewport table th:first-child {
  border-left: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
  border-bottom: 1px solid var(--bs-gray);
}

.reveal-viewport table th:last-child {
  border-right: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
  border-bottom: 1px solid var(--bs-gray);
}

.reveal-viewport table th[align='center'],
.reveal-viewport table td[align='center'] {
  text-align: center;
}

.reveal-viewport table th[align='right'],
.reveal-viewport table td[align='right'] {
  text-align: right;
}

.reveal-viewport table td:first-child {
  text-align: left;
  padding-left: 0.8em;
}

.reveal-viewport table td {
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}

/*********************************************
 * Other Elements
 *********************************************/

.reveal-viewport img,
.reveal-viewport video {
  max-width: 100%;
}

.reveal-viewport iframe {
  margin-top: 0.5em;
}

/*********************************************
 * Code
 *********************************************/

.reveal-viewport pre {
  position: relative;
  font-weight: 400;
  margin-top: 1em;
  overflow: hidden;
}

.reveal-viewport pre + pre,
.reveal-viewport pre + pre + pre {
  margin-top: 0.25em;
}

.reveal-viewport li li code {
  background: var(--bs-gray);
  color: var(--bs-light);
  font-weight: 600;
  font-size: 1em;
  margin-top: 0.3em;
}
.reveal-viewport p code,
.reveal-viewport li code {
  background: var(--bs-primary);
  color: var(--bs-light);
  font-weight: 600;
  font-size: 1em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.2em;
}

.reveal-viewport pre > code {
  background: var(--bs-beige);
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  white-space: pre;
  line-height: 140%;
  padding: 1em;
  color: inherit;
  max-width: 100vw;
  overflow: hidden;
}

.reveal-viewport code table td {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 0 !important;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal-viewport a {
  color: var(--bs-royal);
}

.reveal-viewport a:hover {
  text-decoration: underline;
  text-shadow: none;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal-viewport section > img {
  margin: 15px 0px;
}

.reveal-viewport section img.plain {
  border: 0;
  box-shadow: none;
}

/*********************************************
* Code Colors
*********************************************/

.reveal-viewport code {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  margin: 1px;
  padding: 0 0.5em;
  display: inline-block;
  white-space: nowrap;
  cursor: text;
  border-radius: 8px;
  background: var(--bs-gray);
  color: var(--bs-light);
}

.reveal-viewport .code-primary {
  background: var(--bs-primary) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

.reveal-viewport .code-success {
  background-color: var(--bs-success) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

.reveal-viewport .code-info {
  background-color: var(--bs-info) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

.reveal-viewport .code-warning {
  background-color: var(--bs-warning) !important;
  margin: 5px;
  color: var(--bs-dark) !important;
}

.reveal-viewport .code-danger {
  background-color: var(--bs-danger) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

.reveal-viewport .code-royal {
  background-color: var(--bs-royal) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

.reveal-viewport .code-exciting {
  background-color: var(--bs-exciting) !important;
  margin: 5px;
  color: var(--bs-light) !important;
}

/*********************************************
 * Title Slide
 *********************************************/
.reveal-viewport.layout-title {
  background: linear-gradient(to right, var(--bs-primary), var(--bs-info));
}

.reveal-viewport.layout-title .slides {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  transform: none !important;
  color: var(--bs-light);
  letter-spacing: 0.03em;
  text-align: center;
  font-size: calc(
    30px + (40 - 30) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
}

.reveal-viewport.layout-title section {
  width: 100% !important;
  height: 100% !important;
}

.reveal-viewport.layout-title .slides h1,
.reveal-viewport.layout-title .slides h2,
.reveal-viewport.layout-title .slides h3,
.reveal-viewport.layout-title .slides h4,
.reveal-viewport.layout-title .slides h5,
.reveal-viewport.layout-title .slides h6 {
  margin-top: 0;
}

.reveal-viewport.layout-title .slides h1 {
  font-size: 2.2em;
  color: var(--bs-yellow);
}

.reveal-viewport.layout-title .slides h2 {
  font-size: 1.6em;
  line-height: 100%;
  color: var(--bs-dark);
  filter: contrast(0.9);
}

.reveal-viewport.layout-title p {
  font-size: 0.9em;
  margin: inherit;
  margin: 0.5em 15%;
}

.reveal-viewport.layout-title .btn {
  font-size: 1em;
}

.reveal-viewport.layout-title small {
  font-weight: 100;
  font-size: 0.5em;
  color: var(--bs-gray-light);
}

.reveal-viewport.layout-title section {
  background-color: transparent !important;
}

.reveal-viewport.layout-title a {
  color: var(--bs-yellow);
}

.reveal-viewport.layout-title li code {
  background-color: var(--bs-warning) !important;
  color: var(--bs-dark);
  font-weight: 600;
}

.reveal-viewport.layout-title .footer {
  background: #333;
}

.reveal-viewport.layout-title:nth-of-type(1) section > h1 {
  animation: typing 1.5s steps(40, end) forwards !important;
}

/*********************************************
 * Background Image
 *********************************************/

.reveal-viewport.layout-background-image .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.reveal-viewport.layout-background-image .slides {
  letter-spacing: 0.03em;
  color: var(--bs-light);
  text-align: center;
}

.reveal-viewport.layout-background-image h1,
.reveal-viewport.layout-background-image h2,
.reveal-viewport.layout-background-image h3,
.reveal-viewport.layout-background-image h4,
.reveal-viewport.layout-background-image h5,
.reveal-viewport.layout-background-image h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 10px black;
}

.reveal-viewport.layout-background-image p {
  text-shadow: 0px 0px 5px black;
}

.reveal-viewport.layout-background-image p small {
  font-size: 0.7em !important;
  color: var(--bs-gray-lighter);
}

.reveal-viewport.layout-background-image a {
  color: var(--bs-light);
}

/*********************************************
 * Mostly Image
 *********************************************/

.reveal-viewport.layout-mostly-image {
  background-color: var(--bs-dark);
}

.reveal-viewport.layout-mostly-image .slides {
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  transform: none !important;
}

.reveal-viewport.layout-mostly-image .slide-background-content {
  width: 60% !important;
  animation: fadeInLeft;
  animation-duration: 0.5s;
}

.reveal-viewport.layout-mostly-image section {
  animation: fadeInRight;
  animation-duration: 0.5s;
  align-self: flex-end !important;
  width: 40% !important;
  color: var(--bs-gray-light);
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

.reveal-viewport.layout-mostly-image h1 {
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: calc(
    30px + (100 - 30) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
}

.reveal-viewport.layout-mostly-image p {
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 120%;
  font-size: calc(
    15px + (50 - 15) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
}

.reveal-viewport.layout-mostly-image small {
  font-size: calc(
    15px + (30 - 15) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
}

.reveal-viewport.layout-mostly-image section li {
  color: var(--bs-gray-lighter);
  margin-left: 0;
  margin-right: 0;
  line-height: 110%;
  font-size: calc(
    22px + (50 - 22) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
}

.reveal-viewport.layout-mostly-image ul li:first-child,
.reveal-viewport.layout-mostly-image ul li:first-child {
  margin-top: 0.8em;
}

/*********************************************
 * Background Video
 *********************************************/

.reveal-viewport.layout-background-video {
  color: var(--bs-light);
}

.reveal-viewport.layout-background-video p small {
  font-size: 0.7em !important;
  color: var(--bs-gray-lighter);
}

/*********************************************
 * Quotes
 *********************************************/
.reveal-viewport.layout-quote {
  background: transparent;
}

.reveal-viewport.layout-quote .slides {
  color: var(--bs-light);
}

.reveal-viewport.layout-quote blockquote {
  color: var(--bs-light) !important;
  font-size: 2.5em;
  line-height: 110%;
}
.reveal-viewport.layout-quote blockquote footer {
  color: var(--bs-light);
  font-size: 0.3em;
}

.reveal-viewport.layout-quote section {
  background-color: transparent !important;
}

/*********************************************
 * Persistent Footer
 *********************************************/

.footer {
  font-size: calc(
    20px + (30 - 20) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
  background: var(--bs-dark);
  color: var(--bs-white);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 500;
  padding: 10px 0 !important;
  line-height: 100%;
}

.footer a {
  color: var(--bs-light);
  padding: 0.1em;
}

.footer a:hover {
  color: var(--bs-light) !important;
  text-decoration: underline;
}

footer.fadein {
  opacity: 1;
  animation-name: fadein;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

footer.fadeout {
  opacity: 0;
  animation-name: fadeout;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  transform: translate(0, 200px);
}

/*********************************************
 * tips
 *********************************************/

.reveal .tip span {
  background: var(--bs-dark);
  bottom: 100%;
  display: block;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 0.7em;
  left: -20px;
  opacity: 0;
  padding: 2px 10px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid var(--bs-light);
  transform: translateY(25px);
  transition: all 0.25s ease-out;
  white-space: nowrap;
  transform: translateY(0px);
}

.reveal-viewport .tip:hover span {
  display: inline-block;
  opacity: 1;
  animation: fadeInDown;
  animation-duration: 0.5s;
}

.reveal-viewport a.tip span {
  font-weight: 600;
  color: var(--bs-light) !important;
}

.reveal-viewport a code,
.reveal-viewport .tip {
  cursor: pointer !important;
}

/*********************************************
 * LAYOUTS
 *********************************************/

/*********************************************
 * Has Icon
 *********************************************/

.layout-has-icon .slides h1 {
  position: relative;
  padding-left: 2em;
}

.layout-has-icon .slides h1 > i {
  position: absolute;
  margin-left: -1em;
  top: -0.22em;
  font-size: 1.8em;
  color: var(--bs-danger);
  vertical-align: middle;
}

/*********************************************
 * Circles
 *********************************************/

.reveal-viewport.layout-circles ul {
  margin-left: 2vmin;
  margin-right: 2vmin;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reveal-viewport.layout-circles li.fragment {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 400;
  background-color: var(--bs-purple);
  color: var(--bs-light);
  list-style: none;
  margin: 0.8vmin 1vmin;
  font-size: calc(
    20px + (30 - 20) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
  width: calc(
    250px + (240 - 250) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
  height: calc(
    250px + (240 - 250) *
      (
        (100vw - 300px) /
          (var(--maximum-viewport-width) - var(--minimum-viewport-width))
      )
  );
  text-align: center;
  line-height: 100%;
  opacity: 0.5 !important;
}

.reveal-viewport.layout-circles li.current-fragment {
  opacity: 1 !important;
}

/*********************************************
 * Layout Codelist
 *********************************************/

.reveal-viewport.layout-code-list strong {
  color: var(--bs-orange);
}

.reveal-viewport.layout-code-list p {
  margin: 0;
  padding: 0;
}

.reveal-viewport.layout-code-list ul li,
.reveal-viewport.layout-code-list ol li {
  font-size: 0.9em;
  list-style: none;
  margin-top: 0.5em;
  line-height: 110%;
  font-weight: 300;
  white-space: wrap;
}

.reveal-viewport.layout-code-list ul ul,
.reveal-viewport.layout-code-list ol ol {
  margin-top: 0.5em;
  font-size: 1em;
}

.reveal-viewport.layout-code-list ul ul code,
.reveal-viewport.layout-code-list ol ol code,
.reveal-viewport.layout-code-list ul code,
.reveal-viewport.layout-code-list ol code {
  font-weight: 600 !important;
  font-size: 1em;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

.reveal-viewport.layout-code-list ul li ul li:nth-child(1) code {
  background-color: var(--bs-success);
  color: var(--bs-light);
  font-weight: 300;
}
.reveal-viewport.layout-code-list ul li ul li:nth-child(2) code {
  background-color: var(--bs-info);
  color: var(--bs-light);
  font-weight: 300;
}
.reveal-viewport.layout-code-list ul li ul li:nth-child(3) code {
  background-color: var(--bs-primary);
  color: var(--bs-light);
  font-weight: 300;
}
.reveal-viewport.layout-code-list ul li ul li:nth-child(4) code {
  background-color: var(--bs-danger);
  color: var(--bs-light);
  font-weight: 300;
}
.reveal-viewport.layout-code-list ul li ul li:nth-child(5) code {
  background-color: var(--bs-info);
  color: var(--bs-light);
  font-weight: 300;
}

/*********************************************
 * Layout Codelist
 *********************************************/
.reveal-viewport.layout-scroll-image {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  transform: none !important;
}

.reveal-viewport.layout-scroll-image section {
  display: initial !important;
  width: 120%;
  height: 120%;
  overflow: scroll;
}

.reveal-viewport.layout-scroll-image * {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.reveal-viewport.layout-scroll-image *::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

/*********************************************
 * Layout Longcode
 *********************************************/
.reveal-viewport.layout-longcode pre {
  max-width: 95%;
}

.reveal-viewport.layout-longcode pre code {
  max-height: 450px;
  overflow: auto;
}

/*********************************************
 * Bootstrap Adjustments
 *********************************************/

/*********************************************
 * Bootstrap Cards
 *********************************************/

.reveal-viewport .card {
  font-size: 0.8em;
  letter-spacing: 0.01em;
  margin-top: 1em;
}

.reveal-viewport .card .card-title {
  font-weight: 600;
}

.reveal-viewport .card p {
  margin: 0;
  margin-top: 0.1em;
  line-height: 110%;
  font-size: 0.6em;
}
.reveal-viewport .card .btn {
  margin-top: 3em;
}

/*********************************************
 * Bootstrap List Group
 *********************************************/

.reveal-viewport .list-group {
  font-size: 0.7em;
  letter-spacing: 0.01em;
}

.reveal-viewport .list-group .list-group-item {
  margin-top: 0;
  margin-bottom: 0;
}

.reveal-viewport .list-group .list-group-item i {
  margin: 0;
  padding: 0;
  margin-right: 0.5em;
}

.reveal-viewport .list-group .current-fragment {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  font-weight: 600;
}

/*********************************************
 * Bootstrap Alerts
 *********************************************/

.reveal-viewport .alert {
  width: auto;
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 110%;
}

.reveal-viewport .alert .alert-heading {
  font-weight: 600;
}

/*********************************************
 * Slide-link
 *********************************************/

.slide-link {
  position: fixed;
  left: -70px;
  bottom: 4em;
  padding: 10px 20px;
  padding-left: 100px;
  border-radius: 10px;
  z-index: 1000;
  background: var(--bs-royal);
  opacity: 0;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  animation: slideOutLink 1s 6.5s ease-in-out backwards,
    slideInLink 0.7s 2s ease-in-out backwards;
  font-size: 0.5em !important;
  display: flex !important;
  align-items: center !important;
  font-weight: 400;
  letter-spacing: 0em;
  border: 1px solid var(--bs-light);
}

.slide-link a {
  font-size: inherit;
  text-decoration: none;
  color: inherit !important;
  display: inherit;
  align-items: inherit;
}

.slide-link:hover {
  background-color: var(--bs-primary) !important;
}

.slide-link a:hover {
  text-decoration: none;
}

.slide-link i {
  font-size: 1.8em;
  margin-right: 10px;
}

/*********************************************
 * Keyframes
 *********************************************/

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 200px);
  }
}
@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes slideInLink {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLink {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
